.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: #DE6262;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.actionContainer {
  display: flex;
}

.symbol {
  margin:30px;
  font-size: 54px;
  cursor: pointer;
}

.symbol:hover {
  background-color: red;
}

.scoreBoard {
  display: flex;
  flex-direction: column;
  border:2px solid grey;
  -webkit-box-shadow: 12px -14px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px -14px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 12px -14px 28px 0px rgba(0,0,0,0.75);
  border-radius: 4px;
}

.scoreBoard h3{
  color: grey;

}
.scoreBoard-titles {
  display: inline-block;
  float: left;
  width: 54px;
  height: 38px;
  background: red;
  border-radius: 1px;
}

.scoreBoard-computer {
  display: inline-block;
  float: right;
  height: 40px;
  background: #0087ff
}

.block-symbol {
  margin: 40px;
}
.scoreBoard-scoreUser,
.scoreBoard-scoreComp {
  display: inline-block;
  margin-right: 9px;
  font-size: 40px;
}


